<% zone = ActiveSupport::TimeZone.new("Eastern Time (US & Canada)") %>

<div id="accordion">
	<% @discussions.each do |discussion| %> 
	<h4><%= discussion.subject %></h4>
	<div>
		<div><%= discussion.messages.last.body.html_safe %></div><br />
		<div style="text-align: right; font-size: 9pt;"><em>Last response by <%= discussion.messages.last.member %></em> | <%= link_to "#{pluralize(discussion.messages.count, 'response')}", discussion_path(discussion.id) %></div>
	</div>
	<% end %>  
</div>

<% content_for :head do %>
<script>
	$(function() {
		$( "#accordion" ).accordion({
			fillSpace: true,
			icons: null
		});
	});
</script>
<% end %>


