<div style="width:600px;margin: 0 auto;padding-top:30px;">

<%= form_for(@question) do |f| %>

<div>What department will your question most pertain (choose best of available selection). <em>Note:</em> Any Cabinet member may answer any question.</div><br />

<div><%= f.select(:department, @departments) %></div><br />

<div>Ask your question, remember to address the Speaker and only ask a question with respect to <em>current government policy</em>. This means you cannot ask a minister for his personal opinion, among other things.</div><br />
<div><%= f.text_area(:question, :class => 'mceEditor', 'style' => 'width:600px') %></div><br />

<div><%= f.submit 'Ask Question' %><div>

<% end %>
</div>
