<div style="width:600px;margin: 0 auto;padding-top:30px;">

<%= form_for(@motion) do |f| %>

<div>Expecting a long form? A motion only requires that you write its body. Generally speaking, each motion should contain one idea, but you may include several so long as you neatly separate each one with numbers. You should include the wording to start a motion (see underlined in examples).<p><em>Examples:<br /><u>That, in the opinion of this House,</u> the government should (1) present a bill to reduce tuition fees, and (2) transfer more funds to the provinces to enhance student grants and loans. <br /><br /><u>That this House</u> no longer has confidence in the government.</em></p></div><br />
<div><%= f.text_area(:body, :placeholder => 'That, in the opinion of this House, ...', :class => 'mceEditor',  'style' => 'width:600px;') %><div><br />

<div><%= f.submit 'Draft Motion' %><div>

<% end %>
</div>
