<table>
	<tr>
		<th>Bill</th>
		<th>Information</th>
	</tr>
<% @bills.each do |b| %>
<tr>
<td rowspan="2"><%= link_to b.to_s, bill_path(b) %></td>
<td><%= b.long_title %></td>
</tr>
<tr>
<td><%= b.member %>, MP <em><%= b.member.party %></em></td>
</tr>

<% end %>

</table>
